@{
    ViewBag.Title = "About";
}
<!DOCTYPE html>
<html>
    <head>
        <title></title>
    </head>
    <body>
        <h2><b>The Scope of Work</b></h2>
        <p>
            <b>
                At this moment no system is developed and design by any company or organization. But government is trying to stop the supply of questions.
                They are building awareness against the employees.<br /> We are going to develop a secure system where the question paper will safely
                handed over the exam centre. By using encryption and decryption key the question paper will remain secure at the zip file or pdf file.
                Also the time that we have allocated will follow strictly as the part of this project. Only the education secretary will get the key.
                We trying to maintain the techniques that we want deploy strictly. If the techniques are followed by the education board we think
                we will able to stop this lame problem of question leaking.
            </b>
        </p>
        <h2><b>Contribution</b></h2>
        <p>
            <b>
                By making the system we think we give the oppertunity to the students who are talented than others to show their talents in different
                fields. The government will get loved and respected by the republication of the country. No other organization are taking this problem
                as a challenge. So it will be a beneficiary trademark by us. This system will able to stop the corruption of this field. The
                system will help the educated society so far.
            </b>
        </p>
        <h2><b>Beneficiaries And Benefits</b></h2>

        <p>
            <b>
                Students of Bangladesh will be benefited from this system. They will leave the bad practice of gathering question papers and stop
                to get it. They will study rather than looking for questions at different medium and social networks. They will increase their knowledge.
                Guardians will take clean breath when this problem will be solved. Education sector will be more standard than. Government of bangladesh
                will also love by the people of Bangladesh. Bangladesh will get talented students, employees and leaders for future generations.
            </b>
        </p>
    </body>
</html>

