@{
    ViewBag.Title = "Contact";
}
<!DOCTYPE html>
<html>
    <head>
        <style>
            body {
                background-color: antiquewhite;
            }
        </style>
    </head>
    <body>
        <div>
            <h2>Development organization:</h2>
            <p>
                Main Campus<br />
                Daffodil Tower<br />
                4/2, Sobhanbag, Mirpur Road, Dhanmondi, Dhaka-1207<br />
                E-mail: info@daffodilvarsity.edu.bd<br />
                Phone: +88 48111639, 48111670, 9128705, 9132634<br />
                Fax: 88-02-9131947
            </p>
        </div>
        <h2>Development team Member</h2>
        <div>

            <img src="~/Images/Afjal.jpg" height="250" width="350" />
            <h3>Afjal Hossain</h3>
            <p>
                Address:<br />
                Daffodil International University<br />
                4/2, Sobhanbag, Mirpur Road, Dhanmondi, Dhaka-1207<br />
                E-mail: afjal35-1510@diu.edu.bd<br />
                Phone: +88 48111639, 48111670, 9128705, 9132634<br />
                Fax: 88-02-9131947
            </p>


        </div>

        <div>

            <img src="~/Images/Arman.jpg" height="280" width="350" />
            <h3>Arman Hosen Malik</h3>
            <p>
                Address:<br />
                Daffodil International University<br />
                4/2, Sobhanbag, Mirpur Road, Dhanmondi, Dhaka-1207<br />
                E-mail: afjal35-1510@diu.edu.bd<br />
                Phone: +88 48111639, 48111670, 9128705, 9132634<br />
                Fax: 88-02-9131947
            </p>


        </div>
    </body>
</html>